<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="mysqlConLocal" connectionString="Database=yamabe_system;Data Source=localhost;Port=3306;User Id=root;Password=; Charset=utf8; Allow User Variables=True; " providerName="MySql.Data.MySqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="ARRANGE_FILES" value="C:/YamaeWeb/arrange"/>
    <add key="UPLOAD_DIR" value="C:/YamaeWeb/uploads"/>
    <add key="USER_NAME" value="山辺"/>
    <add key="USER_ID" value="6"/>
    <add key="WATCHER_DIR" value="C:\Users\孝治\Documents\temp"/>
    <add key="AUTO_START_ARRANGE_FOLDER" value="True"/>

  </appSettings>

</configuration>